.section-experience {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
}

.section-experience-title {
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.section-experience-title.active-on-scroll {
    transform: translateX(0);
    opacity: 1;
}
