.container-contact {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: #f0f3f5;
    text-align: center;
    padding-bottom: 3%;
}

.title-contact {
    font-size: 3em;
    color: #050b13;
    font-weight: 700;
    margin-top: 1em;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.title-contact.active-on-scroll {
    transform: translateY(0);
    opacity: 1;
}

.contact-cards-container {
    display: flex;
    flex-direction: row;
    gap: 0 1.5em;
    align-self: center;
    margin-top: 5em;
}

.container-message-clipboard {
    display: flex;
    margin-top: 3%;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 1em;
    background-color: #3b7858;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.container-message-clipboard.message-clipboard-shown {
    opacity: 1;
    visibility: visible;
}

.text-message-clipboard {
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    gap: 0 2em;
}

.button-close-message-clipboard {
    width: fit-content;
    height: fit-content;
    padding: 0.3em;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left: 1em;
}

.button-close-message-clipboard:hover {
    background-color: #3b7858;
    cursor: pointer;
}

.end-text {
    display: flex;
    margin-top: 3%;
    align-self: center;
    font-size: 1.2em;
    font-weight: 500;
}

.text-resume {
    font-size: 1.2em;
    align-self: center;
    color: black;
    margin-top: 3%;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.text-resume.active-on-scroll {
    opacity: 1;
    transform: translateY(0);
}

@media all and (max-width: 768px) {
    .contact-cards-container {
        flex-direction: column;
        gap: 1.5em 0;
        margin-top: 3em;
    }
}
