.filter-technologies-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
    object-fit: cover;
    border: 0.1em solid aqua;
    border-radius: 1em;
    padding: 0.8em 1em 0.8em 1em;
    gap: 0 1.5em;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.filter-technologies-container.active-on-scroll {
    transform: translateX(0);
    opacity: 1;
}

.title-filter {
    color: aqua;
    font-weight: 500;
    font-size: 1em;
}

.filter-technologies-button {
    display: flex;

    width: fit-content;
    text-align: center;
    padding: 0.3em 1em 0.3em 1em;
    border: 0.1em solid aqua;
    border-radius: 1rem;
    color: aqua;
    box-shadow: inset 0 0 0 0;
    transition: all 0.8s ease;
    cursor: pointer;
}

.active {
    background-color: aqua;
    color: #1c1c1e;
}

@media all and (max-width: 480px) {
    .filter-technologies-container {
        max-width: 80%;
        flex-wrap: wrap;
        gap: 1em;
    }
}
