.skill-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

.skill-img {
    display: block;
    height: 35%;
}

.skill-name {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
}

.skill-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level {
    position: absolute;
    z-index: 10;
    top: 20%;
    right: 20%;
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-radius: 50%;
    border: 0.1em solid;
    background-color: #46869528;
    border-color: #4ffffc;
    color: #4ffffc;
}
