.experience-card-container {
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.experience-card-container.active-on-scroll {
    opacity: 1;
    transform: translateY(0);
}

.experience-card-container:nth-child(even) {
    flex-direction: row;
}

.experience-card-container:nth-child(odd) {
    flex-direction: row-reverse;
}

.experience-card-informations {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.experience-card-description {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* width: 75%; */
    padding: 1em;
    border-radius: 0.5em;
    background-color: #2f2f3a;
    color: white;
    z-index: 50;
    box-shadow: 0px 5px 5px 0px #000;
}

.experience-card-title {
    display: flex;
    flex-direction: row;
    color: white;
}

.experience-card-container:nth-child(odd) .experience-card-title,
.experience-card-container:nth-child(odd) .experience-card-company,
.experience-card-container:nth-child(odd) .experience-card-technologies {
    align-self: flex-end;
}

.experience-card-image {
    display: flex;
    position: relative;
}

.experience-card-container:nth-child(even) .experience-card-image {
    left: -60px;
}

.experience-card-container:nth-child(odd) .experience-card-image {
    left: 60px;
}

.experience-image {
    max-width: 500px;
    border-radius: 0.5em;
}

.experience-card-company {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: white;
}

.experience-card-technologies {
    color: white;
}
