.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10%;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.Title {
    color: white;
}

.Profile {
    width: 3%;
    border-radius: 50%;
}

.LinksContainer {
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    margin-bottom: 1.5%;
}

.LinkText {
    font-size: 1em;
    color: white;
    text-decoration: none;
    opacity: 0;
}
.LinkText1 {
    animation: slideDown ease-in 0.3s forwards;
}

.LinkText2 {
    animation: slideDown ease-in 0.3s forwards 0.1s;
}

.LinkText3 {
    animation: slideDown ease-in 0.3s forwards 0.2s;
}

.LinkText4 {
    animation: slideDown ease-in 0.3s forwards 0.3s;
}

.LinkText5 {
    animation: slideDown ease 0.3s forwards 0.4s;
}

.LinkText1:hover,
.LinkText2:hover,
.LinkText3:hover,
.LinkText4:hover,
.LinkText5:hover {
    color: aqua;
}

@keyframes slideDown {
    0% {
        transform: translateY(-40);
    }
    100% {
        transform: translateY(50%);
        opacity: 1;
    }
}

.BackgroundTransparent {
    background-color: transparent !important;
    transition: background-color 0.8s ease-in;
}

.BackgroundRed {
    background-color: RGB(18, 31, 49) !important;
    transition: 0.4s;
    opacity: 0.9;
}

.w3rcontainer {
    border: 1px solid #cccfdb;
    border-radius: 2px;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aqua;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
