.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    background: #191919;
    padding: 1rem;
}

.title-skills {
    font-size: 2rem;
    color: white;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.title-skills.active-on-scroll {
    transform: translateX(0);
    opacity: 1;
}

.skills-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}

@media all and (max-width: 500px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
