.container-skills {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    /* background-color: #302d2d; */
    background-image: url('../../assets/layered-waves-haikei.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}
