@media screen and (max-width: 900px) {
    .ResponsiveApp {
        width: 100%;
    }
}

.top_scroller_div {
    visibility: hidden;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.top_scroller_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 1em;
    padding: 1rem;
    background-color: black;
    color: white;
    opacity: 0;
    transition: all 0.8s ease-out;
}

.top_scroller_div .show {
    visibility: visible;
    opacity: 1;
}
