.filter-projects-button {
    display: flex;
    text-align: center;
    width: fit-content;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid aqua;
    color: aqua;
    cursor: pointer;
}
