.BackgroundAboutMe {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    background-color: red;
}

@media screen and (max-width: 900px) {
    .BackgroundAboutMe {
        max-width: 100% !important;
        background-color: blue;
    }
}
.gradient-background-about {
    background: linear-gradient(300deg, #00bfff, #e0d3de, #02c39a);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
}

.ContainerAbout {
    display: flex;
    width: 45%;
    height: 85%;
    border-radius: 33% 67% 30% 70% / 67% 74% 26% 33%;
    background: linear-gradient(300deg, #00bfff, #e0d3de, #02c39a);
}

.ContainerPic {
    width: 30%;
    z-index: -1;
    justify-self: flex-end;
    opacity: 0;
    animation: SlideIn ease-in 0.8s forwards;
}
.ProfilePic {
    width: 80%;
    border-radius: 50%;
    align-self: center;
}

@keyframes SlideIn {
    0% {
        transform: skew(45deg, 15deg);
        transform: translateX(-100vh);
    }
    50% {
        opacity: 0.5;

        transform: skew(0deg, 15deg);
    }
    100% {
        opacity: 1;
        transform-origin: 0%;
    }
}
