.container-about-me-background {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color:  #FCFBF4;
}
#e3edf9 ou  #FCFBF4 

.title-about-me {
    color: #050b13;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    margin-top: 1.5rem;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease;
}

.about-text-container.active-on-scroll {
    transform: translateX(0);
    opacity: 1;
}

.about-text {
    font-size: 1rem;
    font-family: 'Hauora sans';
    font-weight: 500;
    color: #050b13;
}

.profile-picture-container {
    width: 30%;
    z-index: 10;
    justify-self: flex-end;
    align-items: center;
    /* margin-top: 5em; */
}

.profile-picture {
    width: 80%;
    border-radius: 50%;
    align-self: center;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease;
}

.profile-picture.active-on-scroll {
    transform: translateX(0);
    opacity: 1 !important;
}

@media all and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .about-text-container {
        width: 80%;
    }

    .profile-picture {
        width: 150%;
    }
}
