.container-about-me-background {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 3rem;
    text-align: center;
    background-color: aliceblue;
}
/* #e3edf9 ou #FCFBF4 ou #d7caa8  */
.title-about-me {
    color: #050b13;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
    font-size: 3rem;
}

.title-about-me.active-on-scroll {
    opacity: 1;
    transform: translateY(0);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    width: 100%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 2em;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.about-text-container.active-on-scroll {
    opacity: 1;
    transform: translateY(0);
}

.about-text {
    font-size: 1.1em;
    font-family: 'Hauora sans';
    font-weight: 500;
    color: #050b13;
}

.about-special-text {
    color: #2cabf0;
    text-decoration: none;
}

.cloud-container {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.cloud-container.active-on-scroll {
    transform: translateY(0);
    opacity: 1;
}

@media all and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .about-text-container {
        width: 100%;
        justify-content: center;
        padding: 1em;
        padding-top: 0;
    }

    .profile-picture {
        width: 150%;
    }
}
